{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title|striptags }}{% endblock %}

{% block extra_head %}
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(page) %}
  {{ translations.entry_hreflang(page) }}
{% endif %}
{% endblock %}

{% block content %}
<section id="content" class="body">
    <h1 class="entry-title">{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {{ page.content }}

    <ul>
      {% for category, articles in categories if category == 'les-planches' %}
      {% for article in articles|sort(attribute='sortorder') %}
      <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
      {% endfor %}
      {% endfor %}
    </ul>
</section>
{% endblock %}
